
input{
    width: 60px;
    text-align: center;
    height: 15px;
    border: 1px solid black;
    
}

input::placeholder {
  color: rgb(0, 0, 0);
}

button{
  margin-bottom: 20px;
}
.col2{
    width: 238px;
}

#container-titulo{
    height: 30px;
  

}

#div-tudo{
  width: 21cm;
  height: 29.7cm;
}

@page {
    size: A4;
  }

  @media print {
    .no-print {
      display: none !important;
    }
  }






